@charset "utf-8";
/* CSS Document */
img {
    width: 200px;
    height: 100px;
}
body {
    background-color: #AB2D2F;
    color: #DFCDCD;
}
h1 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #E3C5C6;
    text-align: center;
    font-size: 50px;
}
h1  {
}
h1 {
}
table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
body table {
    background-color: #9B2A2A;
    border: thin solid #BB3D3F;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

tr td img {
}
.img1 {
    width: 350px;
    height: 250px;
}
.img2 {
    width: 400px;
    height: 300px;
}
.img3 {
    width: 500px;
    height: 500px;
}
.img4 {
}
.img5 {
    text-align: center;

}
